<!-- Home Page Section -->
<section class="py-5 text-center container">
  <div class="row py-lg-5">

    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">the {{ site.title }}</h1>
      <p class="lead text-body-secondary">{{ include.description }}</p>
      
      {% if include.links %}
      <div class="d-flex gap-4 justify-content-center mt-4">
        {% for link in include.links %}
        <!-- Menu -->
        <button
          class="btn btn-outline-secondary btn-md d-none d-md-inline-flex"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNavbarDark">
          <span class="navbar-toggler-icon"></span>
          <span class="ms-2">Menu</span>
        </button>
        <!-- Gallery (desktop text) -->
        <a href="{{ '/gallery/' | relative_url }}"
           class="btn btn-outline-secondary btn-md d-none d-md-inline-flex">
          <span class="bi bi-images"></span>
          <span class="ms-2">Gallery</span>
        </a>
        <!-- Map (desktop text) -->
        <a href="{{ '/map/' | relative_url }}"
           class="btn btn-outline-secondary btn-md d-none d-md-inline-flex">
          <span class="bi bi-map"></span>
          <span class="ms-2">Map</span>
        </a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

  </div>
</section>

