<!-- Sidebar for desktop (md and up) -->
<div class="bg-body">
  <div class="position-sticky top-0 vh-100 overflow-auto p-3">

    <!-- Sidebar header -->
    <div class="">
      <div class="text-body-secondary">Table of Contents</div>
    </div>

    <!-- Sidebar body -->
    <div class="d-flex flex-column gap-3">
      <ul class="nav flex-column mb-3">
        <li class="nav-item">
          <a href="{{ '/' | relative_url }}"
            class="hover-fill-link">
            Introduction
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ '/wadi-el-hol/' | relative_url }}"
          class="hover-fill-link">
          Wadi-el-Hol
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ '/lumber-jack/' | relative_url }}"
            class="hover-fill-link">
            Lumber Jack
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ '/steeplejack/' | relative_url }}"
            class="hover-fill-link">
            Steeplejack
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ '/cracker-jack/' | relative_url }}"
            class="hover-fill-link">
            Cracker Jack
          </a>
        </li>
        <li class="nav-item">
          <a href="{{ '/colophon/' | relative_url }}"
            class="hover-fill-link">
            Colophon
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>