---
layout: default
---
<section class="book-hero py-5 my-5 text-center">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-8 mx-auto">
        <h1 class="display-5 fw-light text-body-emphasis mb-4">{{ page.title }}</h1>
        <p class="lead mb-4">
          {{ page.sent-1 }}
        </p>
        <hr class="my-5">
        <p class="lead mb-4">
          <a href="{{ '/colophon/' | relative_url }}" class=""
            style="color: var(--scribe-gold); border-color: var(--scribe-gold) !important;">
            What you see here was initially conceived as a coffee table book.
          </a>
        </p>
        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
          <a href="{{ '/chapters/' | relative_url }}" class="btn btn-book-gold btn-md px-4 mt-4">
            Explore scenes from the first chapter
          </a>
        </div>
      </div>
    </div>
</section>
