---
layout: default
---
<article class="scene-container">
  <div class="container col-xxl-8 px-3 py-3">
    <div class="row align-items-center g-4">
      <div class="col-lg-6">
        {% assign target_id = page.hero_image_id %}
        {% if target_id %}
        {% include image-figure.html id=target_id %}
        {% endif %}
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">
          {{ page.title }}
        </h1>
        <p class="lead text-body-secondary">
          {{ page.sent-1 }}
        </p>
        <p class="lead text-body-secondary">
          {{ page.sent-2 }}
        </p>
        <p class="lead text-body-secondary">
          {{ page.sent-3 }}
        </p>
      </div>
    </div>
  </div>
  <hr>

  <section class="content-body">
    {{ content }}
  </section>
</article>